# build/run artifacts
pst2t_output/
*.bam
*.bai
*.sbi
*.fq
*.fq.gz
*.fa
*.fai
*.img
*.bfi
*.bz2
*.log
*.tmp
.DS_Store

# Python/R/Conda
.env
.venv
conda-env/

# Helper scripts
check_assembly_results.sh
check_missing_assemblies.sh
cleanup_assembly_keep_intermediate.sh
test_pathseq_t2t.sh

# local helper scripts
cleanup_assembly_keep_intermediate.sh
GIT
