// Per-process resource allocations derived from README compute estimates.
process {
    withName: 'PREFILTER' {
        cpus   = 4
        memory = '8 GB'
        time   = '8h'
    }
    withName: 'QCFILTER' {
        cpus   = 16
        memory = '64 GB'
        time   = '1h'
    }
    withName: 'T2TFILTER' {
        cpus   = 4
        memory = '8 GB'
        time   = '1h'
    }
    withName: 'CLASSIFY_KRAKEN' {
        cpus   = 32
        memory = '128 GB'
        time   = '30m'
    }
    withName: 'CLASSIFY_METAPHLAN' {
        cpus   = 16
        memory = '64 GB'
        time   = '3h'
    }
    withName: 'CLASSIFY_SYLPH' {
        cpus   = 4
        memory = '16 GB'
        time   = '30m'
    }
    withName: 'ASSEMBLE' {
        cpus   = 8
        memory = '32 GB'
        time   = '10h'
    }
    withName: 'BINQC' {
        cpus   = 4
        memory = '8 GB'
        time   = '1h'
    }
    withName: 'BINCLASSIFY' {
        cpus   = 8
        memory = '32 GB'
        time   = '2h'
    }
    withName: 'SUMMARIZE' {
        cpus   = 1
        memory = '4 GB'
        time   = '30m'
    }
    withName: 'SUMMARIZE_ASSEMBLY' {
        cpus   = 1
        memory = '4 GB'
        time   = '30m'
    }
}
